In [40]:
import IPython.display as display
from PIL import Image

In [ ]:
image_01 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.1.png")
display.display(image_01)

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

## I. Import Pandas library

In [ ]:
import pandas  as pd

# pd is the alias created for the library and it can be anything

## II. Introduction to Pandas Structures

### Data analysis
It can be done using 2 different types\


*   Data Frame
*   Series

In [ ]:
image_02 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.2.png")
display.display(image_02)

## III. Series vs Dataframe creation

In [ ]:
image_03 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.3.png")
display.display(image_03)

## IV. Introduction to Pandas Series

### Series

Series is a 1 dimension array used in pandas which can store anytype of data types

In [ ]:
image_04 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.4.png")
display.display(image_04)

### Series Ex: 1. Create an empty series

In [ ]:
s =  pd.Series()     # Series - 1 column
print(s)

### Series Ex: 2. Lets create our first series with data

In [ ]:
# Create a list and convert it into series

data= [ 1,2,3,4,5]
print("data :", data)
print("data type :", type(data))
print()

ser = pd.Series(data)
print("Series :", ser)

print("data type Series:", type(ser))

In [ ]:
ser

### Series Ex: 3. Check the dimensions

In [ ]:
ser.shape

### Series Ex: 4. Check the number of elements

In [ ]:
ser.size

### Series Ex: 5. Specifying custom index values

In [ ]:
pd.Series([1,2,3,4],index = ['A','B','C','D'])

###Series Ex: 5. Create series using random number

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(3)) # how many number of random values
print(s)

### Series Ex: 6. Create random values with custom index

In [ ]:
s = pd.Series(np.random.randn(5), index=['A', 'B', 'C', 'D', 'E'])   #index - 0 to n defalut but index values can be customized
s

### Series Ex: 7. Figuring out the index numbers that are there in the series

In [ ]:
s.index

### Series Ex: 8. Numpy representation of the DataFrame

In [ ]:
s.values

### Series Ex: 9. Create a series using random integer number

In [ ]:
import numpy as np
s = pd.Series(np.random.randint(1,10,5)) # start range, # end range , # how many numbers
print(s)

### Series Ex: 10. Create a series using random integer number with custom index

In [ ]:
s = pd.Series(np.random.randint(1,10,5), index=['A', 'B', 'C', 'D', 'E']) # start range, # end range , # how many numbers
print(s)

In [ ]:
# list,tuple, range, random function

### Series Ex: 11. Create a dictonary and convert it into series

In [ ]:
data= {1:'TamilNadu',2:'Mumbai',3:'Karnataka'}
ser = pd.Series(data)
print("Series : \n", ser)

In [ ]:
ser

### Series Ex:12. Retrive element using index number.

In [ ]:
ser[1]     # index values and index names

# if key value is string => indexing can be done by index value and index name
# if key value is int => indexing can be done only through index values (index name=index value)

In [ ]:
ser[[1,2]]

In [ ]:
ser[1:8]  #[start:final:step]   # range function- index value not the index name

### Series Ex:13. Data modification.

In [ ]:
# Replacing
ser[3] = "Andhra"
print(ser)

In [ ]:
# Adding new row
ser[4]='Delhi'
print(ser)

### Series Ex: 14. Create a dictonary and convert it into series (keys with string values)

In [ ]:
data= {'state1':'TamilNadu','state2':'Maharastra','state3':'Karnataka'}
ser = pd.Series(data)
print("Series : \n", ser)

In [ ]:
ser[0]      #Index value

In [ ]:
ser['state2']  #Index name

In [ ]:
ser[[1,2]]    #Index value range

In [ ]:
ser[['state1','state2']]  #Index name range

In [ ]:
ser[0:2]

In [ ]:
ser

In [ ]:
ser['state1':'state3']

## Series Ex: 15. Create a nd array and convert it into series

### N D array

In [ ]:
data = [[1,2,3],[4,5,6]]
data

In [ ]:
ser = pd.Series(data)
ser

In [ ]:
ser[0][1]

In [ ]:
ser[1][0]

##V. Introduction to Dataframe

In [ ]:
image_05 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.5.png")
display.display(image_05)

In [ ]:
image_06 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.6.png")
display.display(image_06)

In [ ]:
image_07 = Image.open("/content/drive/MyDrive/2023-24/courses/Advanced-Programming-and-Machine-Learning-IITM/Images/Week_05/9.7.png")
display.display(image_07)

### DF Ex:1 Create an empty dataframe

In [ ]:
s = pd.DataFrame()
print(s)

### DF Ex:2 Create an empty dataframe with column name alone

In [ ]:
s = pd.DataFrame(columns=['A','B','C','D','E'])
s

### DF Ex:3 Create a dataframe with 5 header but no values

In [ ]:
s = pd.DataFrame(columns=['A','B','C','D','E'], index=[1,2,3,4,5])
s

### DF Ex:4 Create a dataframe with 5 rows and 5 columns (dummy header)

In [ ]:
df = pd.DataFrame(np.random.randint(0, 10, size=(5, 5)))
df

### DF Ex:5 Create a dataframe with 5 rows and 5 columns (named header)

In [ ]:
np.random.randint(0, 10, size=(5, 5)) #create 5,5 array

In [ ]:
df = pd.DataFrame(np.random.randint(0, 10, size=(5, 5)),columns=['A','B','C','D','E'])
df

### DF Ex:6 Create a dataframe with 5 rows and 5 columns (apply split in column names)

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0, 100, size=(5, 5)), columns='a b c d e'.split())
df

### DF Ex:7 Create a dataframe with 5 rows and 5 columns (apply split in column names)

In [ ]:
df = pd.DataFrame({'A' : [1,2,3,4,5], 'B' : [5,6,7,8,9], 'C' : [1,2,3,4,5]})
df

In [ ]:
#set date as index
array =  {'A' : [1, 2, 3, 4],'B' : [4, 3, 2, 1]}
index = pd.DatetimeIndex(['01-01-2020', '2020-12-02','2020-12-03', '2020-12-04'])
pd.DataFrame(array, index=index)

### DF Ex:8 Create 3 different list, combine it as dict and convert it into a dataframe

In [ ]:
names = ['Ram', 'John', 'Abdul','Siva', 'Adam', 'Rahman']
maths =  [45, 40, 60, 80, 90, 75]
english =[60,75,90,65,80,60]
scores = { 'Student_Name':names, 'Maths':maths, 'English':english } # converted dict
scores_df = pd.DataFrame(scores,index= names)  #DataFrame
print(names)
print(scores_df)

In [ ]:
scores_df

In [ ]:
scores_df.index

### DF Ex:9 Return the first n rows

In [ ]:
# get first  2 records alone

scores_df.head()  # default=5

### DF Ex:10 Return the last n rows

In [ ]:
# get last  2 records alone

scores_df.tail(3)

### DF Ex:11 Renaming Columns

In [ ]:
print(scores_df.index)

In [ ]:
scores_df.columns

In [ ]:
scores_df.head(1)

In [ ]:
scores_df.columns = ['Names','Physics','Chemistry']    # Renaming columns from english , maths to physics and chemistry
scores_df.head(2)

In [ ]:
# replace Chemistry with Maths
scores_df.rename({'Chemistry':'Maths'},axis=1,inplace=True)   # Renaming columns   # axis=1 => columns

In [ ]:
scores_df

In [ ]:
scores_df.rename({'Siva':'Krishna'},axis=0,inplace=True)  # Renaming rows    #axis=0 => rows
scores_df

### DF Ex:12 Slicing the dataframe (Single Column)

In [ ]:
scores_df['Maths']  # column slicing

In [ ]:
scores_df[['Maths']]

### DF Ex:13 Slicing the dataframe (Mutiple Column)

In [ ]:
scores_df[['Names','Maths']]

### DF Ex:14 Slicing the dataframe (row slicing)

In [ ]:
scores_df[0:3]

In [ ]:
scores_df[2:5]

In [ ]:
scores_df[:3]       # first row till 3rd

In [ ]:
scores_df[2:] # 2nd row till last

### DF Ex:15 Slicing the dataframe (fetch only the first and second record only for column physics)

In [ ]:
scores_df[0:2]['Physics']

### DF Ex:16 Slicing the dataframe (fetch only the second and third record only for columns physics and maths)

In [ ]:
scores_df[2:4][['Physics','Maths']]

In [ ]:
scores_df[['Physics','Maths']][2:4]

In [ ]:
scores_df[['Physics','Maths']]['Abdul':'Krishna']

## VI. Creating dataframe using Dictionary (.from_dict)

The default manner to create a DataFrame from python is to use a list of dictionaries. In this case each dictionary key is used for the column headings. A default index will be created automatically:

In [ ]:
gg= ({"Location":"Bangalore","Jan":150,"Feb":80},
    {"Location":"Chennai","Jan":200,"Feb":70})
Df = pd.DataFrame(gg)
Df

In [ ]:
Guvi = ({"Location":["Bangalore","Chennai"],
      "Jan":[150,80],
      "Feb":[200,70]})

df = pd.DataFrame.from_dict(Guvi)
df

## VII. Creating dataframe using List

The other option for creating your DataFrames from python is to include the data in a list structure.

The first approach is to use a row oriented approach using pandas from_records . This approach is similar to the dictionary approach but you need to explicitly call out the column labels.

In [ ]:
Guvi = [("Bangalore",150,80),
     ("Chennai",200,70)]
Labels = ["Location","Jan","Feb"]
df = pd.DataFrame.from_records(Guvi,columns=Labels)
df

In [ ]:
Guvi = [("Location", ["Bangalore","Chennai"]),("Jan",[150,200]),("Feb",[80,70])]

# Extract the column names and data from the list of tuples
columns = [item[0] for item in Guvi]
data = [item[1] for item in Guvi]

# Create the DataFrame
df1 = pd.DataFrame(dict(zip(columns, data)))
print(df1)