#---------------------LIST---------------------

---



```
# Python List:
1. Create your own lists otherwise use the
List1 = ['hello','GUVI','GEEK'] to perform the below Python list  Operations?
   A. Repetition (*)
   B. Concatenation (+)
   C. Membership
   D. Length
   E. Iteration
```

In [43]:
list1 = ['hello','GUVI','GEEK']
list3= ['Saturday']

# 1.A. Repetition:

# For item repetition
for item in list1:
  print(item*3)
# For List repetition
list2 = list1*3
print(list2)


# 1.B. Concatenation (+):
conc_str = ""
for item in list1:
  conc_str += item + " "
print(conc_str)
#For list
list4 = list1 + list3
print(list1)
print(list3)
print(list4)

# 1.C. Membership:
print("hello" in list1)
print("GUVI" in list1)
print("GEEK" in list1)


# 1.D. Length:
list_len = len(list1)
print(list_len)

# 1.E. Iteration:

hellohellohello
GUVIGUVIGUVI
GEEKGEEKGEEK
['hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK']
hello GUVI GEEK
['hello', 'GUVI', 'GEEK']
['Saturday']
['hello', 'GUVI', 'GEEK', 'Saturday']
True
True
True
3

2.1. Create your own lists to perform the below Python List Built-in functions?
otherwise use the

                   List1 = [15, 300, 2700, 821]
                   List2 = [12, 2]
                   List3 = [34, 567, 78]
   A.  max(list)    
   B.  min(list)    
   C.  list(seq)

In [16]:
List1 = [15, 300, 2700, 821]
List2 = [12, 2]
List3 = [34, 567, 78]
lis_str = "23, 24, 25"
# 2.A)  max():
print(max(List1))

# 2.B) min():
print(min(List3))

# 2.C) list:
lis_str = lis_str.split(",")
list_4 = list(lis_str)
print(list_4)

2700
34
['23', ' 24', ' 25']

3. Create your own lists to perform the below Python List built-in methods

   A.  list.append()   
   B.  list.clear()   
   C.  List.copy()          
   D.  list.count()         
   E.  list.extend()
   
   F.  list.index()
   
   G.  list.insert()  
   H.  list.pop()
   
   I.  list.remove()    
   J.  list.reverse()         
   K.  list.sort()

In [39]:
list1 = [15, 300, 2700, 821]
list1.append(285)
print(list1)

list2 = list1.copy()
print(list2)

list1.clear()
print(list1)

ele_count = list2.count(300)
print(ele_count)

list2.extend([269])
print(list2)

ele_idx = list2.index(269)
print(ele_idx)

list2.insert(len(list2), 270)
print(list2)

list2.pop(6)
print(list2)

list2.remove(269)
print(list2)

list2.reverse()
print(list2)

list2.sort()
print(list2)

[15, 300, 2700, 821, 285]
[15, 300, 2700, 821, 285]
[]
1
[15, 300, 2700, 821, 285, 269]
5
[15, 300, 2700, 821, 285, 269, 270]
[15, 300, 2700, 821, 285, 269]
[15, 300, 2700, 821, 285]
[285, 821, 2700, 300, 15]
[15, 285, 300, 821, 2700]

#---------------------TUPLE---------------------

---

# Python Tuple
Create your own Tuple to perform the below Python tuple Operations ? otherwise use the below

Tuple1 = ('a','b','c','d')

Tuple2 = ('e','f','g','h')

1. Tuple Operations


> A. Repetition (*)

> B. Concatenation (+)

> C. Membership

> D. Length

> E. Iteration

In [47]:
tuple1 = ('a','b','c','d')
tuple2 = ('e','f','g','h')

print(tuple1 * 2)
print(tuple1 + tuple2)
print('a' in tuple1)
print('b' in tuple2)
print(len(tuple1))
for char in tuple1:
  print(char)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
True
False
4
a
b
c
d

2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
otherwise use the below
      
        Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
       
A. max(Tuple)   
B. min(Tuple)     
C. Tuple(seq)

In [50]:
Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
tup_str = "23, 24, 25"
print(max(Tuple1))
print(min(Tuple1))
tup_str = tup_str.split(",")
Tuple2 = tuple(tup_str)
print(Tuple2)

8765
1
('23', ' 24', ' 25')

#---------------------SET---------------------

---

# Python Set
Create your own Set to operate the below Python Set Operations ?
otherwise use the below set:
              
              Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
              Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}


1. Set Operations

  > A. Union

  > B. Intersection

  > C. Difference

  > D. Symmetric difference

In [53]:
Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}

print(Set1.union(Set2)) # |
print(Set1.intersection(Set2)) # &
print(Set1.difference(Set2)) # -
print(Set1.symmetric_difference(Set2)) # ^

{1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}
{3, 4, 5, 6, 7}
{1, 2, 8, 876, 77}
{1, 2, 8, 876, 77, 432, 54, 567}

#---------------------DICTIONARY---------------------

---
# Python Dictionary
Create your own Dictionary to perform the below Python Built-in Dictionary functions
otherwise use the below Dictionary:

                           dict = {'Name': 'Student', 'Age': 27};
   A.  len(dict)    
   B.  str(dict)      
   C.  type(variable)

In [55]:
dict_ = {'Name': 'Student', 'Age': 27}

print(len(dict_))
print(str(dict_))
print(type(dict_))

2
{'Name': 'Student', 'Age': 27}
<class 'dict'>

2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
otherwise use the below Dictionary:
                
                dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
A.  dict.clear()

B.  dict.copy()

C.  dict.fromkeys()

   D.  dict.get(key[, value])    
   E.  dict.items()   
   F.  dict.keys()   
   G.  dict.setdefault()  
   H.  dict.update()  
   I.  dict.values()

In [68]:
work_dict = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}

copy_dict = work_dict.copy()
print(copy_dict)

copy_dict.clear()
print(copy_dict)

key_dict = dict.fromkeys(work_dict, 'python')
print(key_dict)

wanted = work_dict.get(3)
print(wanted)

for k,v in work_dict.items():
  print(k, v)

for k in work_dict.keys():
  print(k)

work_dict.setdefault(5, 'coding')
print(work_dict)

work_dict.update({0:'ML'})
print(work_dict)

for v in work_dict.values():
  print(v)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}
{}
{0: 'python', 1: 'python', 2: 'python', 3: 'python', 4: 'python'}
Python
0  Data
1 GUVI
2 GEEK
3 Python
4 Happy
0
1
2
3
4
{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy', 5: 'coding'}
{0: 'ML', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy', 5: 'coding'}
ML
GUVI
GEEK
Python
Happy
coding

# Conditional Statements
   1. IF
   2. IF-ELSE
   3. If...Elif...Else

In [77]:
# 1. Write if statement 13 is greater than 25?
num_1 = 25
if 26 > num_1:
  print("It's greater")

# 2.  Write a if else  statement to find if the number is divisible by 25?
num_2 = 36
if num_2 % 25 == 0:
  print("It's divisible")
else:
  print("It's not divisible")

# 3.Using the three variables 'a = 154; b = 2451; c = 6054', Write a If...Elif...Else statement to find the greatest number
a = 154
b = 2451
c = 6054
if a > b:
  print("a is greater")
elif b > c:
  print("b is greater")
elif c > a:
  print("C is greater")
else:
  print("a or b or c")

It's greater
It's not divisible
b is greater